.navcontainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav ul li{
    display: inline;
    gap: 2rem;
}
nav ul a{
    text-decoration: none;
    color: rgb(48, 34, 16);
    background-color: bisque;
    border: 0;
    border-radius: .35rem;
    padding: .5rem 1.5rem;

}
nav ul a:hover{
    background-color: rgb(247, 151, 34);
    transform: scaleX(1.1rem);
}