img{
    height: 100%;
    width: 100%;
}

.imagecontainer{
    height: 400px;
    display: flex;
    margin-bottom: 5px;
    gap: 5px;
}
.imagecontainer div{
    flex: 1;
}
.img-flex img{
    height: calc((100% - 5px) / 2);
}

.img-grid{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 2fr);
}



@media screen and
(max-width : 376px) {
    .imagecontainer{
        flex-direction: column;
        height: auto;
    }  
    .img-grid{
        grid-template-columns:  1fr;  
    }  
    
}

@media screen and
(min-width : 376px) and (max-width : 992px) {
     .imagecontainer{
        flex-direction: column;
        height: auto;
    }  
    /* .img-grid{
        grid-template-columns:  1fr;  
    }   */ 
    
}