.container{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px) 100px 100px ;
}
.box{
    background-color: aqua;

}
#box-1{
    grid-row: span 5;
}
#box-11,#box-12{
    grid-column: span 3;
}
#box-5,#box-6,#box-8,#box-9{
    background-color: brown;
}